@model IEnumerable<FirstWebMVC.Models.DanhSachCongNhan>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Công Nhân</h1>

<p>
    <a class="w3-hover-green" asp-action="Create">Thêm Nhân Viên Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vitri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                <a class="w3-hover-blue" asp-action="Edit" asp-route-id="@item.MaNV">Edit</a> |
                <a class="w3-hover-blue" asp-action="Details" asp-route-id="@item.MaNV">Details</a> |
                <a class="w3-hover-blue" asp-action="Delete" asp-route-id="@item.MaNV">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
